In [1]:
import numpy as np
import pandas as pd
import datetime
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 100

import matplotlib.pyplot as plt
%matplotlib inline

import sys, os, gc, types
import time
from subprocess import check_output

In [6]:
pd.datetools

In [3]:
root_paths = [
    "/Users/jiayou/Dropbox/JuanCode/Insight/Project/data2/", #Jun Mac
    "/Users/jiayou/Dropbox/Documents/JuanCode/Insight/Project/data2/", #You Mini
    '/Users/junxie/Dropbox/JuanCode/Insight/Project/', #Pro
    '/mnt/WD Black/Dropbox/JuanCode/Insight/Project/', #1080
    '/home/paperspace/Documents/insight/insight/data2/', #paperspace
    
]
root = None
for p in root_paths:
    if os.path.exists(p):
        root = p
        break
print(root)

/mnt/WD Black/Dropbox/JuanCode/Insight/Project/

In [16]:
key2 = pd.read_pickle(root + 'data2/key_2_modified.pkl')

In [4]:
prediction = {}
prediction['gb'] = pd.read_csv(root + 'data2/submission/test_prediction.gb_v2_r1.csv')
prediction['rnn'] = pd.read_csv(root + 'data2/submission/test_prediction.nn_v1.csv')
prediction['wave'] = pd.read_csv(root + 'data2/submission/test_prediction.wavenet_v1.csv')

In [8]:
for name, pred in prediction.items():
    pred.sort_values(by='Id', inplace=True)
    pred.reset_index(drop=True, inplace=True)
#     prediction[name] = pred

In [11]:
prediction['wave'].head()

             Id  Visits
0  0000009abb1c      73
1  0000023b7434       8
2  000002ddbe6e      99
3  0000032f82ac     897
4  000003e266a3      49

In [16]:
prediction['ensemble'] = prediction['gb'].copy()
prediction['ensemble'].Visits = np.round(
        (prediction['gb'].Visits.values + prediction['rnn'].Visits.values + prediction['wave'].Visits.values) / 3
)

In [17]:
prediction['ensemble'].head()

             Id  Visits
0  0000009abb1c    94.0
1  0000023b7434     8.0
2  000002ddbe6e   100.0
3  0000032f82ac   823.0
4  000003e266a3    51.0

In [18]:
prediction['ensemble'].to_csv(root + 'data2/submission/ensemble.csv', index=False)